<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href={{url_for('static', filename='css/normalize.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='css/styles.css')}}>
</head>
<body>
<header>
    <a href={{url_for('index')}} class="link-a">Главная</a>
    <a href={{url_for('info')}} class="link-a">Информация</a>
    <a href="https://thl-syktyvkar.gosuslugi.ru/" class="link-a" target="_blank">Сайт школы</a>
    {% if "teacher_id" not in session and "student_id" not in session %}
        <a class="link-a">Вход не выполнен</a>
    {% else %}
        <a href={{url_for("logout")}} class="link-a">{{(session["name"])[ :session["name"].rfind(" ")]}}<br>(Выйти)</a>
    {% endif %}
</header>
{% block content %}

{% endblock %}
</body>
</html>