{% extends 'base.html' %}
{% block content %}
    <section class="inf-page">
        <div class="container">
            <p class="header-txt"><strong>Информация о сайте</strong></p>
            <div class="abt-sait">
                <p class="txt-inf">Сайт разработан в 2023 году<br> Над реализацией проекта работали:</p>
            </div>
            <div class="abt-sait abt-auther">
                <img src={{url_for('static', filename='img/marina-photo.png')}} alt="Marina" class="auther-photo">
                <p class="txt-abt">Бордюг Марина, <br>ученица Технологического лицея, <br> ответственная за frontend</p>
            </div>
            <div class="abt-sait abt-auther">
                <img src={{url_for('static', filename='img/kirill-photo.jpg')}} alt="Kirill" class="auther-photo">
                <p class="txt-abt">Беляев Кирилл, <br>Ученик ЦЦОД "IT-CUBE", <br> ответственный за backend</p>
            </div>
        </div>
    </section>

    <script src={{url_for("static", filename="scripts/script.js")}}></script>
{% endblock %}