{% extends 'base.html' %}
{% block content %}
  <section class="profile-page-st">
    <div class="container">
      <h2 class="header-page">Результаты промежуточной аттестации</h2>
      <div class="student-card">
        <div class="student-info">
          {% if avatar %}
                <img src={{url_for('user_avatar')}}
                     alt="avatar-1"
                     class="avatar-2"
                />
            {% else %}
                <img src={{url_for('static', filename="img/avatar 1.png")}}
                     alt="avatar-1"
                     class="avatar-2"
                />
            {% endif %}


          <p class="port-text">{{ student[1] }}</p>
          <p class="port-text">Класс: {{ student[7] }}</p>
          <form action="" enctype="multipart/form-data" method="post">
                    <div class="upload-avatar__wrapper">
                        <input type="file"
                               name="file"
                                id="upload-file__input_1"
                                class="upload-file__input"
                                accept=".jpeg, .png"
                        />
                        <label class="upload-file__label" for="upload-file__input_1">
                            <svg class="upload-file__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M286 384h-80c-14.2 1-23-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c11.6 11.6 3.7 33.1-13.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-23-23V366c0-13.3 10.7-24 24-24h136v8c0 31 24.3 56 56 56h80c30.9 0 55-26.1 57-55v-8h135c13.3 0 24 10.6 24 24zm-124 88c0-11-9-20-19-20s-19 9-20 20 9 19 20 20 21-9 20-20zm64 0c0-12-9-20-20-20s-20 9-19 20 9 20 20 20 21-9 20-20z"></path>
                            </svg>
                            <span class="upload-file__text">Выбрать файл</span>
                        </label>
                    </div>
                    <div>
                        <button class="button-4">поменять аватар</button>
                    </div>
                </form>
        </div>

        <form class="student-table" method="post">
          <table class="marks">
            <thead>
              <tr>
                <th>Предмет</th>
                <th>Отметка/балл</th>
              </tr>
            </thead>
            <tbody>
              {% if "teacher_id" in session %}
                {% for i in range(1, 5) %}
                  <tr>
                    {% if old %}
                      <td>
                        <select name="exam{{i}}">
                          {% for subject in range(19) %}
                            {% if subjects[subject] == exams[i-1][1] %}
                              <option value={{subjects[subject]}} selected> {{subjects[subject]}}</option>
                            {% else %}
                              <option value={{subjects[subject]}}> {{subjects[subject]}}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </td>
                      <td>
                        <select name="mark{{i}}">
                          {% for mark in range(1, 6) %}
                            {% if mark == exams[i-1][2] %}
                              <option value={{mark}} selected>{{mark}}</option>
                            {% elif mark == None %}
                              <option value="" selected disabled></option>
                            {% else %}
                              <option value={{mark}}>{{mark}}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </td>
                    {% else %}

                      <td>
                        <select name="exam{{i}}">
                          {% for subject in range(19) %}
                            {% if subject == i - 1 %}
                              <option value={{subjects[subject]}} selected> {{subjects[subject]}}</option>
                            {% else %}
                              <option value={{subjects[subject]}}> {{subjects[subject]}}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </td>
                      <td>
                        <select name="mark{{i}}">
                          <option disabled selected></option>
                          {% for mark in range(1, 6) %}
                            <option value={{mark}}>{{mark}}</option>
                          {% endfor %}
                        </select>
                      </td>
                    {% endif %}
                  </tr>
                {% endfor %}

              {% elif "student_id" in session %}
                {% if old %}
                  {% for exam in exams %}
                    <tr>
                      <td>
                        <p>{{ exam[1] }}</p>
                      </td>
                      <td>
                        {% if not exam[2] %}
                          <p></p>
                        {% else %}
                          <p>{{ exam[2] }}</p>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  {% for i in range(1, 5) %}
                    <tr>
                      <td>
                        <select name="exam{{i}}">
                          {% for subject in range(19) %}
                            {% if subject == i - 1 %}
                              <option value={{subjects[subject]}} selected> {{subjects[subject]}}</option>
                            {% else %}
                              <option value={{subjects[subject]}}> {{subjects[subject]}}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </td>
                      <td>
                        <p></p>
                      </td>
                    </tr>
                  {% endfor %}
                {% endif %}
              {% endif %}
            </tbody>
          </table>
          {% if "teacher_id" in session or not old %}
            <button class="button-c button-plus btn-save"><strong>Сохранить</strong></button>
          {% endif %}
        </form>
      </div>

<!-- ----- портфолио ------------------------- -->

      {% if port %}
        <p class="header-page"><strong>Сводная ведомость достижений учащегося (Олимпиады)</strong></p>
        <div class="marks-tb">
          <table class="marks-2">
            <thead>
              <tr>
                <th class="th-2" data-sort="up">Уровень</th>
                <th class="th-2" data-sort="up">Предмет</th>
                <th class="th-2" data-sort="up">Название</th>
                <th class="th-2" data-sort="up">Дата</th>
                <th class="th-2" data-sort="up">Результаты</th>
              </tr>
            </thead>
            <tbody>
              {% for item in port %}
                <tr>
                  <td class="td-2">{{item[6]}}</td>
                  <td class="td-2">{{item[2]}}</td>
                  <td class="td-2">{{item[1]}}</td>
                  <td class="td-2">{{item[-1]}}</td>
                  <td class="td-2">{{item[-2]}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        {% if "student_id" in session %}
          <a href="/add-portfolio" type="submit" class="button-center button-add"><strong>Добавить достижение</strong></a>
        {% endif %}
        <p class="header-page"><strong>Достижения:</strong></p>
        <a href='/profile/download-all/{{student[0]}}' class="portfolio-link">Скачать Всё</a>

        <div class="portfolio-files">
          {% for item in port %}
            <div class="portfolio-item">
              {% if item[5].split(".")[-1] == "pdf" %}
                {% set file = item[5][:-4] + "-miniature.jpg" %}
                <img src={{url_for('static', filename='files/' + file)}} alt="" class="portfolio-image">
              {% else %}
                <img src={{url_for('static', filename='files/' + item[5])}} alt="" class="portfolio-image">
              {% endif %}
              <p class="portfolio-title">{{item[1]}}</p>
              <a href='/download/{{ item[5] }}' class="portfolio-link">Cкачать</a>
            </div>
          {% endfor %}
        </div>
      {% else %}
        {% if "student_id" in session %}
        <a href="/add-portfolio" type="submit" class="button-center button-add"><strong>Добавить достижение</strong></a>
        {% endif %}
      {% endif %}
    </div>
  </section>
{% endblock %}
